@model IEnumerable<FitTrackerApp.Domain.DomainModels.Workout>

@{
    ViewData["Title"] = "Workouts";
}

<h1>Workouts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Workout</a>
    <a asp-action="FilterByDate" class="btn btn-secondary ml-2">Filter By Date</a>
    <a asp-action="Index" class="btn btn-check ms-2">Reset Filters</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.DurationMinutes)</th>
            <th>@Html.DisplayNameFor(model => model.EstimatedCaloriesBurned)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workout in Model)
        {
            <tr>
                <td>@workout.Type</td>
                <td>@workout.Date.ToLocalTime().ToString("yyyy-MM-dd")</td>
                <td>@workout.DurationMinutes</td>
                <td>@workout.EstimatedCaloriesBurned</td>
                
                <td>
                    <a asp-action="Details" asp-route-id="@workout.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@workout.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@workout.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
